a {
    text-decoration: none;
    font-size: 17px;

}


p {
    font-size: 17px;
  
}


/* a:hover{
    color: #0d6efd !important; 
} */


#facebook:hover{
    color: #0d6efd !important; 
}

#whatsapp:hover{
    color: #3acc00 !important; 
}

#twitter:hover{
    color: #0d6efd !important; 
}

#youtube:hover{
    color: #e90000 !important; 
}

#linkedin:hover{
    color: #0d6efd !important; 
}


i{
    font-size: 25px;
}