
<footer style="margin-top: 25px;" class="--bs-primary-bg-subtle text-dark pt-5 pb-4">
    <hr class="mb-4">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start ">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                 <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Nosotros</h5>
                 <hr class="mb-4">
                 <p>
                    Nuestra plataforma de servicios médicos a domicilio está diseñada para brindar atención de salud personalizada y conveniente en la comodidad de tu hogar. Con un equipo de profesionales médicos altamente calificados y dedicados
                 </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Paginas</h5>
                <hr class="mb-4">
                <p>
                    <a routerLink="inicio" class="text-dark">Inicio</a>
                </p>
                <p>
                    <a routerLink="servicios" class="text-dark">Servicios</a>
                </p>
                <p>
                    <a routerLink="nosotros" class="text-dark">Nosotros</a>
                </p>
                <p>
                    <a routerLink="registrarse" class="text-dark">Registrarse</a>
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Paginas</h5>
                <hr class="mb-4">
                <p>
                    <a routerLink="examenes" class="text-dark">Examenes</a>
                </p>
                <p>
                    <a routerLink="vacunas" class="text-dark">Vacunas</a>
                </p>
                <p>
                    <a routerLink="admin-principal" class="text-dark">Admin</a>
                </p>
            </div>


            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Contacto</h5>
                <hr class="mb-4">
                <p>
                    <li  style="list-style-type: none;" class="bi bi-house me-3 ">  Pasto, Nariño</li> 
                </p>
                <p>
                    <li style="list-style-type: none;" class="bi bi-whatsapp me-3">  300 607 7667</li> 
                </p>
                <p>
                    <li style="list-style-type: none;" class="bi bi-envelope me-3"> saludatupuerta@gmail.com</li> 
                </p>
            </div>

            <hr class="mb-4">

            <div class="text-center mb-2">
                <p>
                    Copyright Todos los derechos reservados
                    <a  [routerLink]="['inicio']">
                        <strong class="text-primary">Salud A Tu Puerta</strong>
                    </a>
                </p>

            </div>


            <div class="text-center">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="#" id="facebook" class="text-dark"> <i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" id="whatsapp" class="text-dark"> <i class="bi bi-whatsapp"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" id="twitter" class="text-dark"> <i class="bi bi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" id="youtube" class="text-dark"> <i class="bi bi-youtube"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" id="linkedin" class="text-dark"> <i class="bi bi-linkedin"></i></a>
                    </li>

                </ul>

            </div>

        </div>

    </div>
</footer>