<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin-especializaciones">Especializaciones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin-vacunas">Vacunas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin-medicamentos">Medicamentos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin-examenes">Examenes Medicos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin-servicios">Servicios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/exel">Ventas</a>
    </li>
  </ul>
  
<div class="mt-5 d-flex justify-content-center">
    <button class="btn btn-success" (click)=" exportToExcel()">Exportar Archivo Excel</button> 
</div>
  