<div class="container">


<div class="mb-3">
    <label for="articletitle" class="form-label">Id Medicamento</label>
    <input type="text" class="form-control" [(ngModel)]="medicamento.idmedicamentos" #idmedicamentos>
</div>
<div class="mb-3">
    <label for="articlebody" class="form-label">Nombre Medicamento</label>
    <input type="text" class="form-control" [(ngModel)]="medicamento.nombre_medicamento" #nombre_medicamento>
</div>
<div class="mb-3">
    <label for="articleauthor" class="form-label">Descripcion Medicamento</label>
    <input type="text" class="form-control" [(ngModel)]="medicamento.descripcion_medicamento" #descripcion_medicamento>
</div>
<div class="mb-3">
    <label for="articleauthor" class="form-label">Precio Medicamento</label>
    <input type="text" class="form-control" [(ngModel)]="medicamento.descripcion_medicamento" #precio_medicamento>
</div>
<div class="mb-3">
    <label for="articleauthor" class="form-label">Id Servicio</label>
    <input type="text" class="form-control"[(ngModel)]="medicamento.servicios_idservicios" #servicios_idservicios>
</div>

<div>
    <button type="button" class="btn btn-success"
    (click)="update(idmedicamentos.value, nombre_medicamento.value,
    descripcion_medicamento.value,precio_medicamento.value,servicios_idservicios.value); ">Actualizar</button>
</div>

    
</div>